@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff) format("woff");
}

:root {
  --bg: #222;
  --fg: #eee;
  --fg-muted: #aaa;
  --fg-subtle: #777;
  --border: #444;
  --code-bg: #333;
  --link: #84B4FF;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f9f9f9;
    --fg: #111;
    --fg-muted: #555;
    --fg-subtle: #888;
    --border: #ccc;
    --code-bg: #ebebeb;
    --link: #0055cc;
  }
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: Iosevka, monospace;
  line-height: 1.4;
  font-size: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  max-width: 800px;
  min-width: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border);

  h1 {
    margin-top: 4rem;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    color: var(--fg-muted);
  }
}

pre {
  background-color: var(--code-bg);
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

:not(pre)>code {
  border-radius: 4px;
  background-color: var(--code-bg);
  padding: 1px 0.5rem;
}

footer {
  color: var(--fg-subtle);
  border-top: 1px solid var(--border);
  text-align: center;
  margin: 2rem 0;
  padding-top: 2rem;
}
